.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

header {
    padding-top: 38px;
    width: 1110px;
    margin: 0 auto;
    padding-bottom: 111px;
}

.menu li {
    float: left;
}

.menu a {
    color: #0f0101;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

.main-logo {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #515151;
    font-size: 30px;
    float: left;
}

.main-logo::first-letter {
    color: #1abc9c;
    font-size: 30px;
    font-weight: bold;
}

.menu a:hover,
.menu a:focus {
    color: #1abc9c;
}

.shirt-item li:hover img  {
    background-color: #1abc9c;
}

.menu li:not(:last-child) {
    margin-right: 35px;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    color: #515151;
    margin: 0;
    font-weight: 900;
}

.catalog-name::after {
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    content: "";
    position: absolute;
    display: block;
    margin-top: 32px;
    margin-left: 473px;
}

.catalog {
    width: 1110px; 
    margin: 0 auto;
}

.shirt-item img {
    width: 255px;
    height: 280px;
}

.shirt-item {
    width: 255px;
    height: 322px;
    background-color: #e9f0fd;
    padding: 0;
    margin: 0;
}

.shirt-item:hover a {
    background-color: #1abc9c;
}

.name {
    float: left;
    background-color: #323232;
    /* width: 201px;
    height: 40px; */
    margin: 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.name {
    display: block;
    padding: 12px 11px;
}

.featured-products {
    width: 1110px; 
    padding: 0;
    margin: 0;
    padding-bottom: 105px; 
    padding-top: 92px;  
}

.shirt-item a {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Roboto - Black";
    font-size: 18px;
    text-decoration: none;
    
}

.price {
    float: right;
   /* width: 54px;
    height: 40px; */
    background-color: rgba(255, 255, 255, 0.44);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.price {
    display: inline-block;
    padding: 12px 11px;
}

.featured-products li {
    float: left;
    list-style: none;
    margin: 0 auto;
}

.featured-products li:not(:nth-child(4n)) {
    margin-right: 30px;
}

.featured-products li:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
}

.news-item {
    width: 350px;
    height: 500px;
    margin: 0;
    padding: 0; 
    list-style: none;
    float: left;
    color: #555252;
}

.catalog-2 {
    width: 1110px;
    margin: 0 auto;
}

.news {
    margin-top: 81px;
    padding: 0;
}

.news li:not(:nth-child(3n)) {
    margin-right: 30px;
}

.news-item-title {
    color: #555252;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
}

button {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    padding-top: 19px;
    padding-right: 42px;
    padding-bottom: 18px;
    padding-left: 43px;
    background-color: #4ec6ab;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}

.catalog-2-name::after {
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    content: "";
    position: absolute;
    display: block;
    margin-top: 32px;
    margin-left: 473px;
}

.news-item-text {
    color: #555252;
    font-family: "Open Sans";
    font-size: 14px;
    
}

.news-item-title::after {
    width: 136px;
    height: 3px;
    background-color: #1abc9c;
    content: "";
    display: block;
    margin-top: 11px;
    margin-bottom: 29px;
}
